/logs
target/
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
# /lib

# also covers .ensime_cache/
.ensime* 
# .ensime

# /project/.ensime
/project/EnsimeProjectSettings.scala
# /project
/test
/docs

*#*

# output.csv

activator*

# remove files: rm $(find . -name '*.*~')
*.*~
