@(sd: SdmxData)
@import java.util._

<!DOCTYPE html>

<html>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <head>
        <title>Timeseries for @sd.provider Provider - @sd.query</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- DataTables -->
        <link rel="stylesheet" src="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
        <script type="text/javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <!-- Dygraph -->
        <script src="@routes.Assets.at("javascripts/dygraph/dygraph-combined.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/dygraph/dygraph-extra.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/dygraphs.css")">
        <!-- 'Submit' button and URI update -->
        <script src="@routes.Assets.at("javascripts/custom/btnconfig.js")" type="text/javascript"></script>
        <!-- Message Controller -->
        <script type="text/javascript" src="@routes.MessageController.javascriptRoutes"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/custom/message.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/custom/viz.js")"></script>
        <!-- test SASS module -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datatables.css")">

    </head>
    <body>
        <br>

        <div class="container">
            <div class="col-sm-12">
                <h1>SDMX Play application</h1>
                <p>Scala Play application using <a href="https://github.com/amattioc/SDMX">SDMX</a> Java functions and <a href="https://github.com/danvk/dygraphs">dygraphs</a> timeseries visualization.</p>
                <p>This application retrieves time series available from SDMX APIs. The SDMX query can either be specified through the user interface or by modification of the URL. The SDMX provider is henceforth contacted with the query and in case of existing time series returns information transformed into a JavaScript data format for display and download.</p>
                <p>To facilitate defining the query, available dimension members can be displayed for the selected flow and provider.</p>
            </div>
        </div>

        <div class="container">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    <h3 class="panel-title">@sd.provider Provider contacted with query @sd.query</h3>
                </div>
                <div class="panel-body">
                    @if( sd.start == "NA" ) {
                    <div class="alert alert-danger" role="alert">
                        Invalid query or data not found.
                    </div>          
                    } else {
                    <div class="many" id="graphdiv" style="width:100%; height:300px;">
                    </div>
                    <img id="graphdivpng" />
                    }

                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="col-sm-6 form-group">
                                <label for="inputMax" class="col-sm-3 control-label">Min Series</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="inputMax"
                                           value="@sd.min" readonly />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="inputMin" class="col-sm-3 control-label">Max Series</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="inputMin"
                                           value="@sd.max" readonly />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputQuery">Query</label>
                        <input type="text" class="form-control" id="inputQuery" value="@sd.query"/>
                    </div>      
                </form>
            </div>

            <div class="form-inline">
                <div class="form-group">
                    <label for="inputProvider">Provider Code</label>
                    <input type="text" class="form-control" id="inputProvider" value="@sd.provider"/>
                </div> <!-- form-group -->
                &nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label for="inputStart">Start</label>
                    <input type="number" class="form-control" id="inputStart" value="@sd.start" min="1900" max="@Calendar.getInstance().get(Calendar.YEAR)"/>
                </div> <!-- form-group -->
                &nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label for="inputEnd">End</label>
                    <input type="number" class="form-control" id="inputEnd" value="@sd.end" min="1900" max="@Calendar.getInstance().get(Calendar.YEAR)"/>
                </div> <!-- form-group -->
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <button type="submit" class="btn btn-info" id="btnSubmitSdmx">Submit</button>
                </div> <!-- form-group -->
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <button type="submit" class="btn btn-info" id="btnDygraphPng">Export PNG</button>
                </div> <!-- form-group -->
            </div> <!-- form-inline -->

            <div class="container">
                <div class="col-sm-12" style="margin-top: 1em;" >
                    <form class="form-horizontal" action="@routes.MessageController.getDownloadSdmx()" method="get">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info" id="btnDownloadSdmx">Download CSV</button>
                        </div> <!-- form-group -->
                    </form>
                </div> 
            </div> <!-- container -->

            <div class="container">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" id="getMessageSdmxProviderButton">List Providers</button>
                    </div> <!-- form-group -->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" id="getMessageSdmxFlowButton">List Flows</button>
                    </div> <!-- form-group -->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="inputPattern">pattern (case-sensitive)<br />wildcard: *, or |</label>
                        <input type="text" class="form-control" id="inputPattern" value=""/>
                    </div> <!-- form-group -->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" id="getMessageSdmxDimensionButton">List Dimensions</button>
                    </div> <!-- form-group -->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" id="getMessageSdmxCodeButton">List Codes</button>
                    </div> <!-- form-group -->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" id="getMessageSdmxHelpButton">Help</button>
                    </div> <!-- form-group -->
                </div> <!-- form-inline -->

                <!-- messages and help info are attached here -->
                <div id="infowell" class="well">
                </div>

            </div> <!-- container -->

            <div class="container">

                <!-- two columns in table -->
                <div id="SdmxFlowsDiv">
                    <table id="SdmxFlows" class="display">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- three columns in table -->          
                <div id="SdmxCodesDiv">
                    <table id="SdmxCodes" class="display">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div> <!-- container -->

            <script type="text/javascript">
                g = new Dygraph(
                    document.getElementById("graphdiv"),
                    @Html(sd.output),
                    {
                        labels: @Html(sd.labels),
                        // labels: labels.slice(),
                        colors: [ "#006272", "#97D700", "#00B5E2", "#753BBD", "#DF1995", "#FF6900", "#FBE122" ],
                        animatedZooms: "true",
                        highlightCircleSize: 2,
                        strokeWidth: 1,
                        // labelsDivWidth: 850,
                        labelsDivStyles: { "text-align": "left" },
                        labelsDivWidth: 500,
                        highlightSeriesOpts: {
                            strokeWidth: 2,
                            strokeBorderWidth: 1,
                            highlightCircleSize: 4
                        }
                    }
                );

                $('#btnDygraphPng').click(function(event){
                    // var img = $('#exportedImage').get(0);//unwrap elt from jQuery
                    var img = document.getElementById('graphdivpng')
                    Dygraph.Export.asPNG(g, img);
                })
            </script>

            <footer>
                <div class="container">
                    <p>using
                        <a href="https://playframework.com/" target="_blank">Play Framework</a>,
                        <a href="http://www.scala-lang.org/" target="_blank">Scala</a>,
                        <a href="https://github.com/amattioc/sdmx" target="_blank">SDMX Connectors</a>,
                        <a href="http://dygraphs.com/" target="_blank">dygraphs</a>
                        and <a href="https://github.com/joh024/dygraph-extra" target="_blank">dygraph-extra</a> -
                        source code available on <a ref="http://github.com/bowerth/sdmxPlay">GitHub</a>
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
