@(td: TemperatureData)
@import java.util._

<!DOCTYPE html>

<html>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <head>
    <title>Temperatures for @td.location Airport - @td.year</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#btnSubmit').click(function(event) {
          var location = $("#inputAirport").val().toUpperCase();
          var year = $("#inputYear").val();
          window.location.replace("../../" + location + "/" + year + "/");
        });

        $("#inputAirport").keyup(function(event) {
          if (event.which == 13) {
            $('#btnSubmit').click();
          }
        }).keydown(function(event) {
          if (event.which == 13) {
            event.preventDefault();
          }
        });

        $("#inputYear").keyup(function(event) {
          if (event.which == 13) {
            $('#btnSubmit').click();
          }
        }).keydown(function(event) {
          if (event.which == 13) {
            event.preventDefault();
          }
        });

        $("#inputYear").select();

      });
    </script>
  </head>
  <body>
    <br>
    <div class="container">
    <div class="panel panel-info">
      <div class="panel panel-heading">
        <h3 class="panel-title">Temperatures for @td.location Airport - @td.year</h3>
      </div>
      <div class="panel-body">
        @if( td.minValue == "NA" ) {
          <div class="alert alert-danger" role="alert">
            Invalid query or data not found.
          </div>          
        } else {
          <div class="col-sm-12">
            <img src="svg" alt="Plot @td.location - @td.year" style="max-width:100%; min-width=50%"/>
          </div>
        }
        <div class="col-sm-12">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputMax" class="col-sm-2 control-label">Maximum</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" id="inputMax"
                  value="@(td.maxValue) &deg;C on @td.maxDate" readonly />
              </div>
            </div>
            <div class="form-group">
              <label for="inputMin" class="col-sm-2 control-label">Minimum</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" id="inputMin"
                  value="@(td.minValue) &deg;C on @td.minDate" readonly />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <label for="inputAirport">Airport Code</label>
        <input type="text" class="form-control" id="inputAirport" value="@td.location" maxlength="4" />
      </div>
      &nbsp;&nbsp;&nbsp;
      <div class="form-group">
        <label for="inputYear">Year</label>
        <input type="number" class="form-control" id="inputYear" value="@td.year" min="1900" max="@Calendar.getInstance().get(Calendar.YEAR)" />
      </div>      
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="form-group">
        <button type="submit" class="btn btn-info" id="btnSubmit">Submit</button>
      </div>
    </div>

    </div>
  </body>
</html>

